.cardModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardModalContent {
  width: 80vw;
  height: 80vh;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideDown 0.2s ease forwards;
}
@keyframes slideDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
.cardModalContent img {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  object-fit: contain;
}