.captionArea,
.inputArea {
  margin: 5px;
  padding: 10px 10px;
  border: 1px solid #ffff;
  border-radius: 10px;
  font-size: 12px;
}
.captionArea div {
  display: grid;
  justify-content: center;
}
.captionArea p {
  margin: 2px 0;
}
.inputArea {
  margin-bottom: 20px;
}

.inputBlock {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-bottom: 1px solid #ffff;
  font-size: 12px;
}
.inputBlock label {
  width: 100%;
  max-width: 45px;
  text-align: right;
}
  
.inputBlock input {
  width: 90px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #ffff;
  background: transparent;
  color: #ffff;
  font-size: 16px;
}

.inputBlock select {
  width: 40px;
  height: 24px;
  border: none;
  appearance: none;
  border-bottom: 1px solid #ffff;
  background: transparent;
  color: #ffff;
  cursor: pointer;
  text-align: center;
  font-family: Mochiy Pop One, Mochiy Pop One Fallback;
}

.inputBlock img {
  width: 100%;
  max-width: 200px;
  height: 40px;
  object-fit: cover;
  object-position: 15% 15%;
}

.blankImg {
  width: 100%;
  max-width: 200px;
  height: 40px;
}

.blankCount {
  width: 40px;
  height: 22px;
  border-bottom: 1px solid #ffff;
  text-align: center;
}

.actionBar {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 10px 0;
}
.actionBar div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.actionBar img {
  width: 20px;
  height: 20px;
}

.previewArea {
  position: fixed;
  top: 140px;
  right: 20px;
  margin: 10px 0;
}
.previewArea button {
  width: 130px;
  height: 35px;
  border: solid 4px #242424;
  border-radius: 50px;
  background:#ffffff;
  color: #242424;
  font-size: 12px;
  cursor: pointer;
  font-style: italic;
  font-family: Mochiy Pop One, Mochiy Pop One Fallback;
}
