.lineBlock {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0; 
}

.imgBlock {
  width: calc(30vw - 10px);
  height: calc((30vw - 10px) * 88/63);
  overflow: hidden;
}
.imgBlock img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.circular img {
  transform: translate(-14.1%, 0%) rotate(-90deg);
  width: calc((30vw - 10px) * 88/63);
}

@page {
  size: A4 portrait;
  margin: 16mm 10mm;
}

@media print {
  .lineBlock {
    width: 297mm;
  }
  .imgBlock {
    width: 63mm;
    height: 88mm;
  }
  .circular img {
    width: 88mm;
  }
}